<div class="absolute is-unselectable">


  <div class="column is-one-third m-auto">
    <section class="py-5">
      <div class="columns">
        <div class="column is-half">
          <h1 class="title">TODO</h1>
        </div>
        <div class="column is-half">
          <img class="is-clickable is-pulled-right" (click)="value = !value" src="assets/images/icon-{{iconName}}.svg"
            alt=" turn dark mode {{state}}">
        </div>
      </div>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="control new-task has-icons-left has-icons-right">
          <input ngModel #todoText="ngModel" minlength="5" required class="input is-medium " type="text"
            placeholder="Create a new to do" name="text">

          <div class="check is-left">

          </div>

        </div>

      </form>
    </section>
    <section class="todos-list">
      <app-todo-item *ngFor="let todo of todos, let i = index" [todo]="todo" [index]="i"></app-todo-item>
    </section>
    <section class="filter py-2">
      <div class="is-flex is-flex-direction-row is-justify-content-space-between">
        <div class="px-3">
          <span>{{todosLength}} items left</span>
        </div>
        <div class="px-3">
          <div class="is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="px-1">
              <span>All</span>
            </div>
            <div class="px-1">
              <span>
                Active
              </span>
            </div>
            <div class="px-1">
              <span>
                Completed
              </span>
            </div>
          </div>
        </div>
        <div class="px-3">
          <span>Clear Completed</span>
        </div>
      </div>
    </section>
    <section class="drag mt-5">
      <div class="drag has-text-centered">
        <p>
          Drag and drop to reorder list
        </p>
      </div>
    </section>
    <section class="errors is-pulled-right">
      <div *ngIf="todoText.invalid && showValidationErrors">
        <p class="help is-danger " *ngIf="todoText.errors?.['required']">Field can't be empty</p>
        <p class="help is-danger" *ngIf="todoText.errors?.['minlength']">Field mus be at least 5 characters long</p>
       </div>
    </section>
  </div>
</div>
