<div class="absolute">


    <div class="column is-one-third m-auto">
      <section class="py-5">
        <div class="columns">
          <div class="column is-half">
            <h1 class="title">TODO</h1>
          </div>
          <div class="column is-half">
            <img class="is-clickable is-pulled-right" (click)="value = !value" src="assets/images/icon-{{iconName}}.svg" alt=" turn dark mode {{state}}">
          </div>
        </div>
        <div class="control new-task has-icons-left has-icons-right">
          <input class="input is-medium " type="text" placeholder="Create a new to do">
          <div class="check-border is-left">
          </div>
        </div>
      </section>
      <section class="todos-list">
        <div class="control done-task has-icons-left has-icons-right">
          <input class="input is-medium " type="text" placeholder="Currently typing">
          <div class="check-border checked is-left">
          </div>
        </div>
        <div class="control task has-icons-left has-icons-right">
          <input class="input is-medium" type="text" placeholder="Create a new to do">
          <div class="check-border uncheck is-left">
          </div>
          <div class="icon is-right">
            <img src="assets/images/icon-cross.svg" alt="">
          </div>
        </div>
      </section>
      <section class="filter py-2">
        <div class="is-flex is-flex-direction-row is-justify-content-space-between">
          <div class="px-3">
            <span>5 items left</span>
          </div>
          <div class="px-3">
            <div class="is-flex is-flex-direction-row is-justify-content-space-between">
              <div class="px-1">
                <span>All</span>
              </div>
              <div class="px-1">
                <span>
                  Active
                </span>
              </div>
              <div class="px-1">
                <span>
                  Completed
                </span>
              </div>
            </div>
          </div>
          <div class="px-3">
            <span>Clear Completed</span>
          </div>
        </div>
      </section>
      <section class="drag mt-5">
        <div class="drag has-text-centered">
          <p>
            Drag and drop to reorder list
          </p>
        </div>
      </section>
    </div>
  </div>


