& {
  background-color: $color-body-background;
  font-size: $font-size;
  min-height: 100vh;
  .header {
    background-image: $background-header;
    position: absolute;
    width: 100%;
  }
  .title {
    color: $color-font-title;
  }

  .todos-list {
    border-radius: 4px 4px 0 0;
    background-color: $color-primary;
  }
  .filter {
    border-color: hsl(0, 0%, 86%);
    border-radius: 0 0 4px 4px;
    background-color: $color-primary;
    span {
      font-size: 0.7em;
    }
  }
  .drag {
    p {
      font-size: 0.7em;
    }
  }
  .task {
    input.input{
      &:hover {
        border-color: transparent;
        //color: $color-secondary;
      }
    }

  }
  .completed {
    input.input {
      color: $color-font-marked;
      text-decoration: line-through;
      &:hover {
        color: $color-font-marked;
      }
      &::placeholder {
        color: $color-font-marked;
      }
    }
    .check {
      background: $check-background;
      border-radius: 100%;
      font-size: 1em;
      color: hsl(0, 0%, 86%);
      height: 1.5em;
      pointer-events: none;
      position: absolute;
      width: 1.5em;
      left: 10px;
      top: calc(50% - 0.8em);
      align-items: center;
      display: inline-flex;
      justify-content: center;
      border: 1px solid $color-font-marked;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../assets/images/icon-check.svg");
      }
    }
  }

  .new-task {
    input.input {
      color: $color-font-placeholder;
      &:hover {
        color: $color-secondary-hover;
      }
      &::placeholder {
        color: $color-font-placeholder;
      }
    }
  }

  input.input {
    background-color: $color-primary;
    border: 1px solid transparent;
    color: $color-secondary;

    &::placeholder {
      color: $color-secondary;
    }
    &:hover {
      border-color: transparent;
      color: $color-secondary-hover;
    }
  }
  .check {
    border-radius: 100%;
    font-size: 1em;
    color: hsl(0, 0%, 86%);
    height: 1.5em;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 1.5em;
    left: 10px;
    top: calc(50% - 0.8em);
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border: 1px solid $color-font-marked;
  }

  * {
    color: $color-secondary;
    transition: all .2s;
  }
  .positioned-header{
    position: relative;
  }
  .absolute {
    position: absolute;
    width: 100%;
    top: 0;
  }
  .is-sticky{
    position: sticky;
    top: 0;
    z-index: 999;
  }

  @include until($desktop) {
  }

  @include from($mobile) {
  }
}
