$very_light_gray: hsl(0, 0%, 98%);
$very_light_grayish_blue:hsl(236, 33%, 92%);
$light_grayish_blue:hsl(233, 11%, 84%);
$dark_grayish_blue:hsl(236, 9%, 61%);
$very_dark_grayish_blue:hsl(235, 19%, 35%);
