$color-primary: hsl(0, 0%, 98%);
$color-body-background:hsl(236, 33%, 92%);
$color-font-marked:hsl(233, 11%, 84%);
$color-font-placeholder:hsl(236, 9%, 61%);
$color-secondary:hsl(235, 19%, 35%);
$color-secondary-hover: hsl(236, 33%, 92%);
$color-font-filter: hsl(234, 11%, 52%);
$background-header: url("../assets/images/bg-desktop-light.jpg");
$background-header-mobile: url("../assets/images/bg-mobile-light.jpg");
